@tailwind base;

@font-face {
    font-family: "inter_black";
    src: url("Inter-Black.woff") format("woff"),
        url("Inter-Black.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter_black_italic";
    src: url("Inter-BlackItalic.woff") format("woff"),
        url("Inter-BlackItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "inter_bold";
    src: url("Inter-Bold.woff") format("woff"),
        url("Inter-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter_bold_italic";
    src: url("Inter-BoldItalic.woff") format("woff"),
        url("Inter-BoldItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "inter_extrabold";
    src: url("Inter-ExtraBold.woff") format("woff"),
        url("Inter-ExtraBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter_extrabold_italic";
    src: url("Inter-ExtraBoldItalic.woff") format("woff"),
        url("Inter-ExtraBoldItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "inter_extralight";
    src: url("Inter-ExtraLight.woff") format("woff"),
        url("Inter-ExtraLight.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter_extralight_italic";
    src: url("Inter-ExtraLightItalic.woff") format("woff"),
        url("Inter-ExtraLightItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "inter_italic";
    src: url("Inter-Italic.woff") format("woff"),
        url("Inter-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "inter_light";
    src: url("Inter-Light.woff") format("woff"),
        url("Inter-Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter_light_italic";
    src: url("Inter-LightItalic.woff") format("woff"),
        url("Inter-LightItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "inter_medium";
    src: url("Inter-Medium.woff") format("woff"),
        url("Inter-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter_medium_italic";
    src: url("Inter-MediumItalic.woff") format("woff"),
        url("Inter-MediumItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "inter_regular";
    src: url("Inter-Regular.woff") format("woff"),
        url("Inter-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter_semibold";
    src: url("Inter-SemiBold.woff") format("woff"),
        url("Inter-SemiBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter_semibold_italic";
    src: url("Inter-SemiBoldItalic.woff") format("woff"),
        url("Inter-SemiBoldItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "inter_thin";
    src: url("Inter-Thin.woff") format("woff"),
        url("Inter-Thin.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter_thin_italic";
    src: url("Inter-ThinItalic.woff") format("woff"),
        url("Inter-ThinItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@tailwind components;

.form-container {
    @apply w-full font-inter_medium;
}

.form-container:lg {
    @apply w-3/5;
}

.form-container:xl {
    @apply w-1/2;
}

.form-label {
    @apply block text-gray-800 mb-1 pr-4;
}

.form-label:lg {
    @apply text-right;
}

.form-input {
    @apply w-full border border-gray-400 rounded px-4 py-2;
}

.form-button {
    @apply bg-blue-400 text-white py-2 px-8 rounded;
}

.form-button:hover {
    @apply bg-blue-700;
}

@tailwind utilities;
